* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

.globalBtn {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
